body{
    background-color: #282c34;
    font-family: calibri;

}

form{
    background-color: #ffffff;
    width: fit-content;
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
}