body{
    background-color: #eee;
}

#content{
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    border-radius: 7px;

    max-height: 290px;
    overflow: hidden;

    /* Set transitions up. */
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px;

    /* Set transitions up. */
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more{
    background: #1594e5;
    color: #fff;
    font-family: calibri;
    display: block;
    width: 140px;
    font-size: 18px;
    padding: 7px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 6px;
}